body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9fafb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0000002c;
  width: 350px;
  height: 450px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 4px #eae7e7;
  background-color: #ffffffb4;
  padding: 50px 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 0.75rem;
  border: 1px solid #00000041;
  border-radius: 4px;
  width: 220px;
}

.form-control small {
  color: red;
  visibility: hidden;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 248px;
}